<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css" rel="stylesheet">

<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
<head>
  <div th:replace="fragments/header :: header"></div>
  <title>Authors</title>

</head>

<body>

<!--navbar.html   -->
<div th:replace="fragments/navbar :: navbar"></div>

<div  class="mx-auto" style="margin-left: 160px; padding: 0px 10px;">
  <h1>list of Authors</h1>
  <br/>
  <div>
    <a href="/library/list" class="btn btn-success">Books</a>
    <a type="/genre/new" class="btn btn-success">genres</a>
  </div>
  <br/>
  <div class="btn-group">
    <a href="/author/new" class="btn btn-primary">Add New Author</a>
  </div>

  <br/><br/>
  <br/><br/>
  <div>
    <table
        id="table"
        data-toolbar="#toolbar"
        data-toggle="table"
        data-search="true"
        data-show-columns="true"
        data-show-pagination-switch="true"
        data-pagination="true"
        data-show-extended-pagination="true"
        data-pagination-loop="true"
        data-id-field="id"
        data-page-list="[3, 5, 10, all]"
        data-response-handler="responseHandler">
      <thead>
      <tr>
        <th data-sortable="true" scope="col">Name</th>
        <th data-sortable="true" scope="col">Last Name</th>
        <th data-sortable="true" scope="col">Second Name</th>
        <th scope="col">Description</th>
        <th scope="col">Update</th>
        <th scope="col">Remove</th>
      </tr>
      </thead>
      <tbody>
      <tr id="tr-id-1" class="tr-class-1" data-title="bootstrap table" data-object='{"key": "value"}' th:each="author: ${listAuthors}">
        <td id="td-id-1" class="td-class-1" data-title="bootstrap table" th:text="${author.name}">Name</td>
        <td id="td-id-2" class="td-class-1" data-title="bootstrap table" th:text="${author.lastname}">LastName</td>
        <td id="td-id-3" class="td-class-1" data-title="bootstrap table" th:text="${author.secondname}">SecondName</td>
        <td id="td-id-4" class="td-class-1" data-title="bootstrap table" th:text="${author.description}">Description</td>
        <td id="td-id-8" class="td-class-1" data-title="bootstrap table"><a th:href="@{'/author/update/' + ${author.authorid}}">Update</a></td>
        <td id="td-id-9" class="td-class-1" data-title="bootstrap table"> <a th:href="@{'/delete_author/' + ${author.authorid}}">Delete</a></td>
      </tr>
      </tbody>
    </table>
  </div>
  <br/><br/>

  <br/><br/>

</div>
<div th:replace="fragments/footer :: footer" ></div>

</body>
</html>