<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="fragments/header :: header"></div>
    <title>Author</title>
</head>

<body>

<!--navbar.html   -->
<div th:replace="fragments/navbar :: navbar"></div>

<div class="container-fluid">

    <div class="row">

        <div class="col-2">
            <div th:replace="fragments/sidebar :: sidebar"></div>
        </div>
        <div class="col-10">

                <div th:if="${authmessage}" class="alert alert-success" id="authormessage" role="alert">
                    <p th:text="#{author.delete}"></p>
                </div>
                <div th:if="${authwarning}" class="alert alert-warning" id="authorwarning" role="alert">
                    <p th:text="#{author.warning}"></p>
                </div>
                <br/>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-success newAuthorBtn">
                                <i class="fas fa-plus-circle"></i><span th:text="#{author.add}" />
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <th:block th:include="author/newModal"></th:block>
                    </div>
                    <div class="row">
                        <th:block th:include="author/editModal"></th:block>
                    </div>
                    <br/><br/>
                    <div>
                        <div th:replace="author/fragments/authortable :: authortable"></div>
                    </div>
                    <br/><br/>
                    <br/><br/>
                </div>
            </div>

        </div>


    </div>

</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>