<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css" rel="stylesheet">

<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
<head>
  <div th:replace="fragments/header :: header"></div>
  <title>Authors</title>

</head>

<body>

<!--navbar.html   -->
<div th:replace="fragments/navbar :: navbar"></div>

<div class="mx-auto" style="margin-left: 160px; padding: 0px 10px;">
  <h1>list of Authors</h1>
  <br/>
  <div>
    <a href="/library" class="btn btn-success">Books</a>
    <a href="/genre/list" class="btn btn-success">genres</a>
  </div>
  <br/>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <button class="btn btn-primary newAuthorBtn">
          <i class="fas fa-plus-circle"></i>New Author
        </button>
      </div>
    </div>
    <div class="row">
      <th:block th:include="author/newModal"></th:block>
    </div>
    <div class="row">
      <th:block th:include="author/editModal"></th:block>
    </div>

  <br/><br/>
  <br/><br/>
  <div>
    <table
        id="table"
        data-toolbar="#toolbar"
        data-toggle="table"
        data-search="true"
        data-show-columns="true"
        data-show-pagination-switch="true"
        data-pagination="true"
        data-show-extended-pagination="true"
        data-pagination-loop="true"
        data-id-field="id"
        data-page-list="[3, 5, 10, all]"
        data-response-handler="responseHandler">
      <thead>
      <tr>
        <th data-sortable="true" scope="col">Name</th>
        <th data-sortable="true" scope="col">Last Name</th>
        <th data-sortable="true" scope="col">Second Name</th>
        <th scope="col">Description</th>
        <th scope="col">Update</th>
        <th scope="col">Remove</th>
      </tr>
      </thead>
      <tbody>
      <tr id="tr-id-1" class="tr-class-1" data-title="bootstrap table"
          data-object='{"key": "value"}' th:each="author: ${listAuthors}">
        <td id="td-id-1" class="td-class-1" data-title="bootstrap table" th:text="${author.firstName}">
          Name
        </td>
        <td id="td-id-2" class="td-class-1" data-title="bootstrap table"
            th:text="${author.lastName}">LastName
        </td>
        <td id="td-id-3" class="td-class-1" data-title="bootstrap table"
            th:text="${author.secondName}">SecondNamebnmn
        </td>
        <td id="td-id-4" class="td-class-1" data-title="bootstrap table"
            th:text="${author.description}">Description
        </td>
        <td id="td-id-5" class="td-class-1" data-title="bootstrap table">
          <button type="button" class="btn btn-info editAuthorBtn" th:href="@{/author/{id}(id=${author.id})}">
            <i class="fas fa-pencil-alt"></i>edit
          </button>
        </td>
        <td id="td-id-6" class="td-class-1" data-title="bootstrap table">
          <form action="#" th:action="@{'/author/delete/{id}'(id=${author
                     .id})}" th:method="delete">
            <input type="hidden" name="_method" value="delete"/>
            <button type="submit" id="submitButton" class="btn btn-danger"><i class="fas fa-trash-alt"></i>delete
            </button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <br/><br/>

  <br/><br/>

</div>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>