<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>
    <title>New Author</title>
</head>
<body>
<!--navbar.html   -->
<div th:replace="fragments/navbar :: navbar"></div>

<tr align="center">
    <h1>New Author</h1>
    <form action="#" th:action="@{/author_save}" th:object="${author}" method="post" class="form-horizontal">
        <div class="form-group has-feedback">
            <input
                    th:replace="~{fragments/inputField :: input ('First Name', 'firstName', 'text')}" />
            <input
                    th:replace="~{fragments/inputField :: input ('Last Name', 'lastName', 'text')}" />
            <input
                    th:replace="~{fragments/inputField :: input ('second Name', 'secondName', 'text')}" />
            <input
                    th:replace="~{fragments/inputField :: input ('description', 'description', 'text')}" />
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button
                        class="btn btn-default" type="submit">Add Author
                </button>
            </div>
        </div>

    </form>

    <!-- Footer -->
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>