<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>
    <title>New Author</title>
</head>
<body>
<!--navbar.html   -->
<div th:replace="fragments/navbar :: navbar"></div>

<div align="center">

        <h1>New Author</h1>

    <form action="#" th:action="@{/author_save}" th:object="${author}" method="post" >
        <div class="form-group has-feedback">
            <table border="0" cellpadding="10">
                <tr>
                <td>
            <input
                    th:replace="~{fragments/inputField :: input ('First Name', 'firstName', 'text')}" />
                </td>
                </tr>
                <tr>
                <td>
            <input
                    th:replace="~{fragments/inputField :: input ('Last Name', 'lastName', 'text')}" />
                </td>
                </tr>
                <tr>
                <td>
            <input
                    th:replace="~{fragments/inputField :: input ('second Name', 'secondName', 'text')}" />
                </td>
                </tr>
                <tr>
                <td>
            <input
                    th:replace="~{fragments/inputField :: input ('description', 'description', 'text')}" />
                </td>
                </tr>
                <tr>
                <td>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit">Add Author </button>
            </div>
        </div>
                </td>
                </tr>
            </table>
    </form>
</div>




    <!-- Footer -->
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>