<!-- currently this html file is not active since its function is replaced by newmodal.html -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>
    <title>New Author</title>
</head>
<body>
<!--navbar.html   -->
<div th:replace="fragments/navbar :: navbar"></div>

<div align="center">
        <h1>New Author</h1>
    <form action="#" th:object="${author}" method="post" >
        <div class="form-group has-feedback">
            <table border="0" cellpadding="10">
                <tr>
                <td><input type="text" th:field="*{firstName}"/><label> First Name</label>
                </td>
                </tr>
                <tr>
                <td><input type="text" th:field="*{lastName}" /><label>Last Name</label>
                </td>
                </tr>
                <tr>
                <td><input type="text" th:field="*{secondName}" /><label>Second Name</label>
                </td>
                </tr>
                <tr>
                <td><input type="text" th:field="*{description}" /><label>Description</label>
                </td>
                </tr>
                <tr>
                <td>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit">Add Author </button>
            </div>
        </div>
                </td>
                </tr>
            </table>
    </form>
</div>

    <!-- Footer -->
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>