<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="fragments/header :: header"></div>
  <title>Users</title>

</head>
<body>

<!--navbar.html   -->
<div th:replace="fragments/navbar :: navbar"></div>

<div  class="mx-auto" style="margin-left: 160px; padding: 0px 10px;">
  <h1>Users</h1>
  <br/><br/>
  <div class="btn-group">
    <a href="/new_user" class="btn btn-success">Add New User</a>
  </div>
  <br/><br/>
  <table class="table   ">
    <thead>
    <tr>
      <th scope="col">User ID</th>
      <th scope="col">Full Name</th>
      <th scope="col">telephone</th>
      <th scope="col">Position</th>
      <th scope="col">Department</th>
      <th scope="col">Email</th>
      <th scope="col">Admin Rights</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${listUsers}">
      <td th:text="${user.userid}">User ID</td>
      <td th:text="${user.fio}">Full Name</td>
      <td th:text="${user.telephone}">Telephone</td>
      <td th:text="${user.jobpos}">Position</td>
      <td th:text="${user.department}">Department</td>
      <td th:text="${user.email}">Email</td>
      <td th:text="${user.admin}">Admin Rights</td>
      <td>
        <a th:href="@{'/edit_user/' + ${user.userid}}">Edit</a>
        &nbsp;&nbsp;&nbsp;
        <a th:href="@{'/delete_user/' + ${user.userid}}">Delete</a>
      </td>

    </tbody>
  </table>

</div>
<div th:replace="fragments/footer :: footer" ></div>

</body>
</html>