<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<th:block th:fragment="sidebar">

  <style>
/* Style the buttons */
.bton {
  border: solid;
  outline: dashed;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Style the active class (and buttons on mouse-over) */
.active, .btn:hover {
  border: none;
  outline: none;
  background-color: #333;
  color: white;
}
</style>
  <!-- Static sidebar -->
  <nav class="col-md-2 d-none d-md-block bg-light sidebar" style="width:160px; height:100%; position: fixed;
                z-index: 1; top: 0; left: 0; background-color: #111; overflow-x: hidden; padding-top: 20px; ">
    <div class="sidebar-sticky" style="padding-top: 50px; " id="myDIV">
      <button class="bton"><a href="/genre/list">Genres</a></button>
      <button class="bton"><a href="/library">Books</a></button>
      <button class="bton"><a href="/author/list">Authors</a></button>
    </div>
  </nav>
  <!--<nav class="col-md-2 d-none d-md-block bg-light sidebar" style="width:160px; height:100%; position: fixed;
                z-index: 1; top: 0; left: 0; background-color: #111; overflow-x: hidden; padding-top: 20px; ">
    <div class="sidebar-sticky" style="padding-top: 50px; ">
      <ul class="nav flex-column mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/genre/list">Genres</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/library">Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/author/list">Authors</a>
        </li>
      </ul>
    </div>
  </nav>-->
  <script type="text/javascript">
  // Add active class to the current button (highlight it)
  var header = document.getElementById("myDIV");
  var btns = header.getElementsByClassName("bton");
  for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function() {
  var current = document.getElementsByClassName("active");
  if (current.length > 0) {
  current[0].className = current[0].className.replace(" active", "");
  }
  this.className += " active";
  });
  }
  </script>
</th:block>