<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="sidebar">
  <!-- Static sidebar -->
  <nav class="col-md-2 d-none d-md-block bg-light sidebar" style="width:160px; height:100%; position: fixed;
                z-index: 1; top: 0; left: 0; background-color: #111; overflow-x: hidden; padding-top: 20px; ">
    <div class="sidebar-sticky" style="padding-top: 50px; ">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="/genre/list">Genres</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/library">Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/author/list">Authors</a>
        </li>
      </ul>
    </div>
  </nav>

</th:block>