<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="sidebar">
    <!--position: fixed;-->

    <nav style="width:160px; height:100%;  z-index: 2;  background-color: #d8d8d8;">
        <div class="btn-group btn-group-vertical" role="group" style="width:160px;">
            <a href="/genre/list" class="btn btn-light sidebar-btn"><span
                th:text="#{sidebar.genre}"></a>
            <a href="/library" class="btn btn-light sidebar-btn"><span th:text="#{sidebar.library}"></a>
            <a href="/author/list" class="btn btn-light sidebar-btn"><span
                th:text="#{sidebar.author}"></a>
            <a href="/logout" class="btn btn-light sidebar-btn"><span
                th:text="#{sidebar.logout}"></a>
        </div>
    </nav>


</th:block>