<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="fragments/header :: header"></div>
  <title>Users</title>

</head>
<body>

<!--navbar.html   -->
<div th:replace="fragments/navbar :: navbar"></div>

<div  class="mx-auto" style="margin-left: 160px; padding: 0px 10px;">
  <h1><span th:text="#{user}" /></h1>
  <br/><br/>
  <div class="btn-group">
    <a href="/new_user" class="btn btn-success">Add New User</a>
  </div>
  <br/><br/>
  <table class="table   ">
    <thead>
    <tr>
      <th scope="col"><span th:text="#{user.userfirstname}" /></th>
      <th scope="col"><span th:text="#{user.userlastname}" /></th>
      <th scope="col"><span th:text="#{user.usersecondname}" /></th>
      <th scope="col"><span th:text="#{user.telephone}" /></th>
      <th scope="col"><span th:text="#{user.email}" /></th>
      <th scope="col"><span th:text="#{user.roles}" /></th>
      <th scope="col"><span th:text="#{genre.edit}" /></th>
      <th scope="col"><span th:text="#{genre.remove}" /></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${listUsers}">
      <td th:text="${user.userfirstname}">First Name</td>
      <td th:text="${user.userlastname}">Last Name</td>
      <td th:text="${user.usersecondname}">Second Name</td>
      <td th:text="${user.telephone}">Telephone</td>
      <td th:text="${user.email}">Email</td>
      <td th:text="${user.roles}">Roles</td>
      <td>
        <a th:href="@{'/edit_user/' + ${user.userid}}">Edit</a>
      </td>
      <td id="td-id-10" class="td-class-1" data-title="bootstrap table">
        <button type="submit" id="submitButton" class="btn btn-danger">
          <a href="#" th:href="@{/user/delete/{id}(id=${user.userid})}">
            <i class="fas fa-trash-alt" style="color:white"></i></a>
        </button>
      </td>
    </tbody>
  </table>

</div>
<div th:replace="fragments/footer :: footer" ></div>

</body>
</html>