<div class="col-xl-8 col-lg-7">
    <form th:action="@{library/fragments/errorModal}" th:method="post">
      <div id="error-modal" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 id="error-modal-title" class="modal-title">Error</h4>
            </div>
            <div id="error-modal-body" class="modal-body">Can't delete genre with an author</div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary close" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
  </form>
</div>