<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/header :: header"></div>
    <title>Index title</title>
</head>

<body>

<!--navbar.html   -->
<div th:replace="fragments/navbar :: navbar"></div>

    <h2> Project Application </h2>
    <h1> Project Application </h1>


<div class="btn-group  ">
    <button type="button" class="btn btn-success">This is a success button</button>
    <button type="button" class="btn btn-warning">This is a warning button</button>
    <button type="button" class="btn btn-danger">This is a danger button</button>
</div>

<p>
    <a href="/logout">Logout</a>
</p>

<!-- Footer -->
<div th:replace="fragments/footer :: footer" ></div>
</body>

</html>