<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Library</title>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"/>-->

  <!-- Bootstrap -->
  <link th:href="@{/bootstrap-3.3.7-dist/css/bootstrap.min.css}"
        rel="stylesheet" media="screen"/>
</head>

<body>

<!--navbar.html   -->
<div th:replace="fragments/navbar :: navbar"></div>
<!--sidebar.html   -->
<div th:replace="fragments/sidebar :: sidebar" ></div>

<div  class="mx-auto" style="margin-left: 160px; padding: 0px 10px;">
  <h1>Library</h1>
  <h2>Rent, Return, Modify and Update Books</h2>
  <br/><br/>
  <a href="/new_book">Add new Book</a>
  <br/><br/>

  <table class="table" >
    <thead>
    <tr>
      <th scope="col">Book ID</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">ISBN</th>
      <th scope="col">Year of Publication</th>
      <th scope="col">Publisher</th>
      <th scope="col">Availability</th>
      <th scope="col">Rent and RETURN</th>
      <th scope="col">Remove</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="books: ${listBooks}">
      <td th:text="${books.bookid}">Book ID</td>
      <td th:text="${books.title}">Title</td>
      <td th:text="${books.author}">Author</td>
      <td th:text="${books.isbn}">ISBN</td>
      <td th:text="${books.yearpub}">Year of Publication</td>
      <td th:text="${books.publisher}">Publisher</td>
      <td th:text="${books.availability}">Availability</td>
      <td><a th:href="@{'/rent/' + ${books.bookid}}">Rent</a></td>
      <td><a th:href="@{'/delete/' + ${books.bookid}}">Delete</a></td>
    </tr>
    </tbody>
  </table>
  <br>
  <a th:href="@{/}">Click here to log out</a>
  <br>
  <a th:href="@{/users}">Go to users</a>
  <br>

</div>
<div th:replace="fragments/footer :: footer" ></div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>
</html>