<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="fragments/header :: header"></div>
  <title>Library</title>

</head>

<body>

<!--navbar.html   -->
<div th:replace="fragments/navbar :: navbar"></div>

<div  class="mx-auto" style="margin-left: 160px; padding: 0px 10px;">
  <h1>Library</h1>
  <h2>Rent, Return, Modify and Update Books</h2>
  <br/><br/>
  <div class="btn-group">
    <a href="/new_book" class="btn btn-success">Add new Book</a>
  </div>

  <br/><br/>
  <br/><br/>
  <!--bookstable.html   -->
  <div th:replace="fragments/bookstable :: bookstable"></div>
  <br/><br/>

  <!--<table class="table">
      <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">ISBN</th>
        <th scope="col">Year of Publication</th>
        <th scope="col">Publisher</th>
        <th scope="col">Availability</th>
        <th scope="col">Rent and Return</th>
        <th scope="col">Remove</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="book: ${listBooks}">
        <td th:text="${book.title}">Title</td>
        <td th:text="${book.author}">Author</td>
        <td th:text="${book.isbn}">ISBN</td>
        <td th:text="${book.yearpub}">Year of Publication</td>
        <td th:text="${book.publisher}">Publisher</td>
        <td th:text="${book.availability}">Availability</td>
        <td><a th:href="@{'/rent/' + ${book.bookid}}">Rent</a></td>
        <td><a th:href="@{'/delete/' + ${book.bookid}}">Delete</a></td>
      </tr>
      </tbody>
    </table>-->
  <br/><br/>

</div>
<div th:replace="fragments/footer :: footer" ></div>

</body>
</html>